
* {
	text-align: center;
}



table, ul, ol {
	margin-left: auto;
	margin-right: auto;
	font-size: 12pt;
}

p, h1, h2 {
    color: rgb(0, 0, 0);
  }

/* This rule is for the main Header h1 */
h1.mainHeader {
	background-color: rgba(0, 255, 255, 0.5);
	font-family: 'Hachi Maru Pop', cursive;
	position: sticky;
	top: 0;
}

#secondLine {
	color: #2b4266;
}

* {
    background-color: #FFF;
}

a[target="_blank"] {
	background-color: hsl(360, 10, 50);
}

a:hover {
	color: hsl(320, 100, 50, 0.7);
}

a:active {
	color: green;
}


ol li {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

ul > li {
	margin: 1pc, 1pc, 1pc, 1pc;
}

img ~ figcaption {
	color: gray;
  }

img + p {
	font-size: 0.9rem;
	text-decoration: underline solid gray;
}

iframe.webFrame {
	background-color: white;
	height: 25%;
	width: 50%;
	max-width: 800px;
	min-width: 400px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	position: relative;
}

#dutyDescription {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-style: inset;
	border-radius: 10px;
	border-width: 2px;
	border-color: #2b4266;
	padding: 10px, 10px, 10px, 10px
}

#item1 {
	flex: 1
}

#item2 {
	flex: 1
}

#item3 {
	flex: 1
}

#item4 {
	flex: 1
}

#ProvostHonors {
	font-size: 1.5em;
}

#userpageInMarkdown {
	display: block;
}

#none {
	display: none;
}

#form {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-column-gap: 10px;
	align-items: start;
}

@media only screen and (max-width: 1000px) {
	* {
		background-color: lightblue;
	}
}