* {
	text-align: center;
}

table, ul, ol {
	margin-left: auto;
	margin-right: auto;
	font-size: 12pt;
}

p, h1, h2 {
    color: rgb(0, 0, 0);
  }

/* This rule is for the main Header h1 */
h1.mainHeader {
	background-color: rgba(0, 255, 255, 0.5);
}

#secondLine {
	color: #2b4266;
}

* {
    background-color: #FFF;
}

a[target="_blank"] {
	background-color: hsl(360, 10, 50);
}

a:hover {
	color: hsl(320, 100, 50, 0.7);
  }


ol li {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

ul > li {
	margin: 1pc, 1pc, 1pc, 1pc;
}

img ~ figcaption {
	color: gray;
  }

img + p {
	font-size: 0.9rem;
}

iframe.webFrame {
	background-color: white;
	height: 25%;
	width: 50%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#dutyDescription {
	border-style: inset;
	border-radius: 10px;
	border-width: 2px;
	border-color: #2b4266;
	padding: 10px, 10px, 10px, 10px
}

#ProvostHonors {
	font-size: 1.5em;
}

