p, h1, h2 {
    color: black;
  }

h1.mainHeader {
	background-color: aqua;
}

#secondLine {
	color: green;
}

* {
    background-color: white;
}

a[target="_blank"] {
	background-color: gray;
}

a:hover {
	color: #FF00FF;
  }


ol li {
	margin: 20px;
}

ul > li {
	margin: 15px;
}

img ~ figcaption {
	color: gray;
  }

img + p {
	font-size: 10px;
}

iframe.webFrame {
	background-color: white;
}

